h1{color:burlywood}

body{
    margin: 0px;
    background-color:white
 
}
.header
{
background-color:#204050;
display:flex;
padding-right: 40px;
justify-content:flex-end;
border: 40px solid red;
    }


.bodyimg
{
    display:flex;
    justify-content: space-between;



}



.grid{
  margin: 30px;
    display:flex;
flex-wrap: wrap;
}

.grid img
{
border:2px solid white ;
border-radius: 50px;
}

.origami
{
border-radius: 20px;
background-color: ghostwhite;
padding: 10px;
margin: 100px;
width: 20px;
font-family: fantasy;

}